<%= form_for(@micropost) do |f| %>
  <span id = "count_down">140 characters remaining...</span>
  <%= render 'shared/error_messages', object: @micropost %>
  <div class = "field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  <div>
  <%= f.submit "Post", class: "btn btn-large btn-primary"  %>
<% end %>

